*.apk
testbed.iws

.idea/runConfigurations/Emulator__Defy_.xml
.idea/runConfigurations/Emulator__Large_.xml
.idea/workspace.xml
.idea/dictionaries/

local.properties
conf/local.properties

tmp/
target/
out/
gen/fi/testbed2/BuildConfig.java

robotium/ant.properties
robotium/target/
robotium/local.properties
robotium/gen/fi/testbed2/tests/BuildConfig.java
