package fi.testbed2;

/**
 * Template file for the app's environment settings.
 *
 * DO NOT MANUALLY EDIT THE FILE "Environment.java".
 * Environment.java will be OVERRIDDEN by Maven.
 */
public final class Environment {

    public static final String BUILD_TIME = "@build_time@";
    public static final boolean DEBUG = @debug@;
    public static final boolean TEST_ENVIRONMENT = @test_environment@;

}
